<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Slimez[app]</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <header>
    <div class="navlink" style="float: right; display: inline-block; position: absolute; right: 1vw"><a href="/logout">Log out</a></div>
    <div style="position: absolute; top:1vh">
      <div id="slimeListButton" class="navlink" style=" display: inline-block;"><a>Slime List</a></div>
    <div id="aboutButton" class="navlink" style=" display: inline-block;"><a>About</a></div>
    <div id="docButton" class="navlink" style=" display: inline-block;"><a>Documentation</a></div>
    </div>
    <h1 style="display: inline-block">Project 2 [rich media]</h1>
  </header>
  
  <div class="main-wrapper">
  
  <section id="makeSlime">
  </section>
      
  <section id="slimes">
  </section>
  
    <div class="main-wrapper">
    
    
  <div id="canvasArea">
    <canvas id="canvas_back" height="648" width="1152">Please use an HTML 5 browser</canvas>
    <canvas id="canvas_main" height="648" width="1152">Please use an HTML 5 browser</canvas>
    <canvas id="canvas_overlay" height="648" width="1152">Please use an HTML 5 browser</canvas>
    
    <!-- this is a tes of popup windows over the canvas (for login stuff or something). one is a basic one, one has an input field -->
    <div class="popupContainer">
      <div id="test-popup" class="popup statusWindow hidden" >
        <b class="header">Test window: </b>
        <div id="test-popup-title" class="status"> </div>
        <div id="test-popup-data" class="status">
          <p class="opt">- test data -</p>
        </div>
      </div>
      
      <div id="test-login" class="popup statusWindow hidden" style="margin-top: -40px">
        <div class="headerBox noSelect">
          <b id="login-tab" class="left">Login</b>
          <b id="signup-tab" class="right inactive">Signup</b>
          <br style="clear: both" />
        </div>
        <div id="login" class="status" style="margin: 0.5em">
          <input type="text" id="test-login-name" style="float: left" placeholder="username"/> 
          <br/><hr style="margin: 0.3em; border: none" /> 
          <input type="password" id="test-login-pass" placeholder="password"/>
          <input type="button" id="login-submit" value="Login" />
        </div>
          
        <div id="signup" class="status hidden" style="margin: 0.5em">
          <input type="text" id="test-signup-name" style="float: left" placeholder="username"/> 
          <br/><hr style="margin: 0.3em; border: none; " /> 
          <input type="password" id="test-signup-pass" style="float: left"  placeholder="password"/>
          <br/><hr style="margin: 0.3em; border: none" /> 
          <input type="password" id="test-signup-pass2" placeholder="confirm password"/>
          <input type="button" id="signup-submit" value="Signup" />
        </div>
      </div>    
    </div>

  </div>  
  
  </div>  
    
  <div id="slimeMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="slime" src="assets/img/player - Copy.png" alt="slime"/>
  </div>
  
  <div id="footer">
    <p class="header">- Copyright 2017 Danielle Carmi - </p>
    <p>All rights reserved</p>
  </div>

  <div id="audio" class="hidden">
    <audio id="bgAudio" controls loop></audio>
    <audio id="effectAudio" controls></audio>
  </div>  
    
  <script src="/assets/bundle.js"></script>
</body>
</html>