<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Slimez[login]</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  
  <style>
  
    .button {
      margin-top:10px;
      position: relative;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      padding: 15px 30px;
      border: solid 3px white;
      border-radius: 3px;
      font: bold 12px sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      color: white;
      transition: .35s;
      color: black
    }
    
    .button:before {
      content: '';
      position: absolute;
      top: 0;
      right: 110%;
      height: 100%;
      width: 200%;
      background: black;
      transform: skewX( -15deg );
      transition: inherit;
    }
    
    .button:hover {
      color: white;
      }
      .button:hover:before {
        right: -10%;
      }
    
    .button span {
      position: relative;
    } 
  </style>
</head>
<body> 
  <nav class="">
    <div class="nav-item" style="padding-left: 0.2em;"><a><img src="/assets/img/favicon.png" alt="logo"/><b>Gacha Slimez!</b></a></div>
    <div class="nav-item"><a><b>About</b></a></div>
    <div class="nav-item"><a><b>Documentation</b></a></div>
    
    <div class="nav-item nav-right"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="nav-item nav-right"><a id="loginButton" href="/login">Login</a></div>
  </nav>
    
  <section class='fill-height'>
    <section class="two-thirds left"><img id="logo" src="/assets/img/favicon.png" alt="face logo"/><p>[banner]</p></section>
    <section id="content" class="one-third right"></section>
  </section>
  
  <br style="clear: both" />
  
  <div id="slimeMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage">Wrong username or password</span></h3><img id="slime" src="assets/img/domo.png" alt="slime"/>
  </div>
  
  <div id="footer">
    <p class="header">- Copyright 2017-2018 Danielle Carmi - </p>
    <p>All rights reserved</p>
  </div>
  
  <script src="/assets/loginBundle.js"></script>
</body>
</html>