html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.main-wrapper {
  width: 100%;
  padding-top: 1em;
  //padding-left: 1em;
  //padding-right: 1em;
  margin: 0 auto;
  background-color: #eaecff;
} /*just a class to contain content*/

header{
  text-align: center;
}

.half{
  width: 50%;
}

.one-third{
  width: 33.3%;
}
.two-thirds{
  width: 66.6%;
}

.detail-pannel{
  width: 100px;
}
.view-pannel{
  width: 77%;
}

.left{
  float: left;
  background-color: aqua
}
.right{
  float: right;
  background-color: chartreuse
}

nav{
  width:100%;
  clear: both;
  margin: 0;
  background: #383838;
  display: inline-block;
  z-index: 9999;
}
nav:after{
  clear: both;
}
nav img{
  float: left;
  height: 2.0em;
  margin-top: -0.4em;
  margin-right: 0.4em;
}

.nav-item{
  margin: 0;
  font-size: 1.3em;
  height: 1.2em;
  padding: 0.65em;
  display: inline;
  float: left;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  color: rgba(255, 255, 255, 0.91);
  cursor: pointer;
  text-align: center;
  align-items: center;
  text-decoration: none;
  z-index: 99999;
}
.nav-item:hover{
  background: #a2a2a2;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  color: white;
  display:
}

.nav-item a, .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active {
color: inherit;
text-decoration: none;
}

.nav-right{
  float: right;
}

.nav-purple{
  background: #bc00bc;
}
.nav-purple .nav-item:hover{
  background: #d157d1;
}

.nav-blue{
  background: deepskyblue;
}
.nav-blue .nav-item:hover{
  background: #a9e9ff;
}
.nav-grey{
  background: #585858;
}
.nav-grey .nav-item:hover{
  background: #838383;
}

.fill-height{
  min-height: 85vh;
}

#footer {
  display: block;
  margin: 0 auto;
  margin-top: 0.3em;;
  padding: 0.2em;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #383838;
}
#footer p {
  font-size: 1em;
  font-weight: bold;
  color: #efefef;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hidden {
  display: none;
} /*hide section - can be appended/removed to classlist with js*/
.show {
  display: block;
} /*show section - can be appended/removed to classlist with js*/
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
} /* so that the canvas cant be selected and mess up gameplay*/

.slimeForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 710px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.slimeForm label {
    display: inline-block;
    //width: 50px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}
.slimeForm input[type=text] {
    float:left;
}

.makeSlimeSubmit {
    transition: background-color 0.4s ease;
    display: inline-block;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}
.makeSlimeSubmit:link, .makeSlimeSubmit:visited, .makeSlimeSubmit:hover, .makeSlimeSubmit:active {
    color: white;
}
.makeSlimeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    margin: 0 auto;
    padding: 1em;
    font-size: 1.2em;
}
.mainForm h3 {
    text-align: center;
}
.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}
.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}
.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}
#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#slimeMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}
#slimeMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#slime {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    //height: 450px;
    //width: 300px;
}

.cards{
  //background-color: red;
  display: flex;
  flex-flow: row;
  min-height: 70vh;
  max-height: 100vh;
}

.cardHolder {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  overflow-y: scroll;
  justify-content: space-evenly;
}
.side{
  min-width: 350px;
  max-width: 350px;
  min-height: 300px;
  flex: 1;
  //background-color: blue;
  text-align: center;
}

.side h3{
  font-size: 1.5em;
  text-align: center;
}

.card {
  flex: 1;
  margin: 10px;
  height: 135;
  min-width: 120px;
  max-width: 120px;
  background: linear-gradient(#f5f5f5, #cccccc);
  border-radius: 3px;
  border: 3px solid black;
  box-shadow: 0 2px 6px rgba(#000,.1);
  transition: transform .25s ease;
  animation: populate .5s ease-out normal backwards;
  padding: 0.5em;
  z-index: 0;
  cursor: pointer;
}
.card img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  //margin-top: -2em;
  margin-left: 10px;
  z-index: 0;
}
.card:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0 5px 12px rgba(#000,.2);
}
.card .material-icons{
  float: right;
  padding: 0.15em;
  margin-right: 0.15em;
  margin-top: 1px;
  z-index: 3;
  border-radius: 50%;
  background-color: white;
}
.card .lvl{
  text-align: center;
  font-size: 1.3em;
  padding: 0.2em;
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
}

.card-over{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #f4f4f4;
  border-radius: 0 0 3px 3px;
  border-top: 2px solid black;
  margin-top: 0.1em;
}

.card-selected{
  //border: 3px solid #9e00d8;
  background: white;
}

@keyframes populate {
  0% {
    transform: scale(0);
  }
}

.game-nav{
  margin: 0 auto;
  padding: 0;
  //margin-left: 10px ;
  //background-color: green;
  width: fit-content;
  padding: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.game-nav .game-nav-item{
  display: inline-block;
  margin-left: 0.7em;
}

.user-currency{
  display: block;
  //background: yellow;
  vertical-align: middle;
  
  padding: 0;
  margin: 0;
  
  height: 20px;
  margin-top: -34px;
}

.coin-box{
  flex: 1;
  min-width: 50px;
  border-radius: 3px;
  padding-right: 5px;
  border: 2px solid black;
  margin-bottom: 5px;
  background: linear-gradient(#f5f5f5, #cccccc);
}
.coin-box .coin-icon{
  display: block;
  float: left;
  height: 100%;
  width: 20px;
  margin-right: 5px;
  padding-left: 1px;
  padding-right: 1px;
}
.coin-icon img{
  height: 98%;
  margin: 0;
}

.user-name{
  margin-right: 1em;
}
.user-img{
  float: right;
}


.v-div{
  float: left;
  height: 4em;
  margin-right: 10px;
  background: black;
  border-radius: 5px;
  width: 3px;
  margin-top: -4px;
}
.v-div-r{
  display: inline-block;
  height: 4em;
  margin-left: 17px;
  background: black;
  border-radius: 5px;
  width: 3px;
  margin-top: -4px;
  vertical-align: middle
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font: bold 0.9em 'calibri';
  padding: 1.1em 1.4em;
  border: solid 3px black;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: .35s;
  background: white;
  color: black;
  cursor: pointer;
}
.button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 110%;
  height: 100%;
  width: 200%;
  background: black;
  transform: skewX( -15deg );
  transition: inherit;
}
.button:hover {
  color: white;
}
.button:hover:before {
  right: -10%;
}
.button span {
  position: relative;
}

.menu-selected{
  background: black;
  color: white;
}
.menu-red:before{
  background: red;
}.menu-red.menu-selected{
  background: red;
  color: white;
}
.menu-purple:before{
  background: #b400b4;
}.menu-purple.menu-selected{
  background: #b400b4;
  color: white;
}
.menu-blue:before{
  background: #0045ff;
}.menu-blue.menu-selected{
  background: #0045ff;
  color: white;
}
.menu-orange:before{
  background: #ffce00;
} .menu-orange.menu-selected{
  background: #ffce00;
  color: white;
}

.shop-over{
  position: relative;
  float: right;
  margin-top: -200px;
  width: 200px;
  height: 100px;
  display: inline-block;
  z-index: 300;
}
.shop-over .button{
  display: inline-block;
  float: right
}
.shop-over img{
  width: 20px;
  height: 20px;
  float: left;
}
